<%= simple_form_for(@facebook_token) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :user %>
    <%= f.input :encrypted_token %>
    <%= f.input :encrypted_token_iv %>
    <%= f.input :network_user_id %>
    <%= f.input :network_user_name %>
    <%= f.input :network_user_image_url %>
    <%= f.input :expires_at %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
