<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @facebook_token.user %>
</p>

<p>
  <strong>Encrypted token:</strong>
  <%= @facebook_token.encrypted_token %>
</p>

<p>
  <strong>Encrypted token iv:</strong>
  <%= @facebook_token.encrypted_token_iv %>
</p>

<p>
  <strong>Network user:</strong>
  <%= @facebook_token.network_user_id %>
</p>

<p>
  <strong>Network user name:</strong>
  <%= @facebook_token.network_user_name %>
</p>

<p>
  <strong>Network user image url:</strong>
  <%= @facebook_token.network_user_image_url %>
</p>

<p>
  <strong>Expires at:</strong>
  <%= @facebook_token.expires_at %>
</p>

<%= link_to 'Edit', edit_facebook_token_path(@facebook_token) %> |
<%= link_to 'Back', facebook_tokens_path %>
