<% content_for :page_title do %>
  <h2 class="dashboard-title">
    <%= current_user.name %>
  </h2>
<% end %>

<% if current_user.invitations.pending.any? %>
  <% current_user.invitations.pending.each do |invitation| %>
    <div class="row">
      <div class="groala-alert col-lg-12 mb-2">
        <div class="card secondary-color lighten-1 accent-4 text-xs-center">
          <div class="card-block">
            <span class="white-text">
              <i class="fa fa-envelope-open-o fa-lg fa-fw"></i>
              You've been invited to join <b><%= invitation.organization.name%></b>
              <%= render 'invitations/accept_form', organization: invitation.organization, invitation: invitation %>
            </span>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <div class="col-lg-6 mb-2">
      <ul class="nav nav-tabs tabs-1 primary-color" role="tablist">
        <li class="nav-item">
          <%= link_to '#user-info', class: 'nav-link active', role: 'tab', data: { toggle: 'tab' } do %>
            <i class="fa fa-user" aria-hidden="true"></i> User Info
          <% end %>
        </li>
      </ul>

      <div class="tab-content card">
        <div class="tab-pane fade in active" id="user-info" role="tabpanel">
          <div class="form-inputs">
            <%= f.input :first_name, icon: 'user', label: 'First Name' %>
            <%= f.input :last_name, icon: 'user', label: 'Last Name' %>
            <%= f.input :email, required: true, icon: 'envelope' %>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6 mb-2">
      <ul class="nav nav-tabs tabs-1 primary-color" role="tablist">
        <li class="nav-item">
          <%= link_to '#change-password', class: 'nav-link active', role: 'tab', data: { toggle: 'tab' } do %>
            <i class="fa fa-unlock-alt" aria-hidden="true"></i> Password
          <% end %>
        </li>
      </ul>

      <div class="tab-content card">
        <div class="tab-pane fade in active" id="change-password" role="tabpanel">
          <div class="form-inputs">
            <%= f.input :password, autocomplete: "off", label: 'New Password', required: false, icon: 'lock' %>
            <%= f.input :password_confirmation, label: 'Confirmation', required: false, icon: 'lock' %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 mb-2">
      <ul class="nav nav-tabs tabs-1 primary-color" role="tablist">
        <li class="nav-item">
          <%= link_to '#update-profile', class: 'nav-link active', role: 'tab', data: { toggle: 'tab' } do %>
            <i class="fa fa-gear" aria-hidden="true"></i> Save
          <% end %>
        </li>
      </ul>

      <div class="tab-content card">
        <div class="tab-pane fade in active" id="update-profile" role="tabpanel">
          <div class="form-inputs">
            <%= f.input :current_password, label: 'Current Password', required: true, icon: 'unlock' %>
          </div>

          <div class="form-actions text-xs-center">
            <%= f.button :button do %>
              <i class="fa fa-check-circle-o left" aria-hidden="true"></i>
              Update
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
