<% content_for :page_title do %>
  <h2 class="dashboard-title extended-title-nav">
    Profile
    <%= link_to new_organization_path, class: 'btn-floating btn-small green accent-4 mr-0 extended-nav-1' do %>
      <i class="fa fa-bank" aria-hidden="true" data-toggle="tooltip" title="New Organization"></i>
    <% end %>
    <%= link_to root_path, class: 'btn-floating btn-small mr-0' do %>
      <i class="fa fa-reply" aria-hidden="true" data-toggle="tooltip" title="Back"></i>
    <% end %>
  </h2>
<% end %>

<% if current_user.invitations.pending.any? %>
  <% current_user.invitations.pending.each do |invitation| %>
    <div class="row">
      <div class="groala-alert col-lg-12 mb-3">
        <div class="card purple lighten-1 accent-4 text-xs-center z-depth-1">
          <div class="card-block">
            <span class="white-text">
              <i class="fa fa-envelope-open-o fa-lg fa-fw"></i>
              You've been invited to join <b><%= invitation.organization.name%></b>
              <%= render 'invitations/accept_form', organization: invitation.organization, invitation: invitation %>
            </span>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<div class="row">
  <div class="col-lg-12 mb-3">
    <ul class="nav nav-tabs tabs-1 light-blue darken-2" role="tablist">
      <li class="nav-item">
        <%= link_to '#edit-profile', class: 'nav-link active', role: 'tab', data: { toggle: 'tab' } do %>
          <i class="fa fa-pencil" aria-hidden="true"></i> Edit
        <% end %>
      </li>
    </ul>

    <div class="tab-content card">
      <div class="tab-pane fade in active" id="edit-profile" role="tabpanel">
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.error_notification %>

          <br>
          <h5 class="text-xs-center">User Info</h5>
          <br>

          <div class="form-inputs">
            <div class="row">
              <div class="col-md-6">
                <%= f.input :first_name, icon: 'user' %>
              </div>
              <div class="col-md-6">
                <%= f.input :last_name, icon: 'user' %>
              </div>
            </div>
            <br>
            <%= f.input :email, required: true, icon: 'envelope' %>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>

            <br>
            <h5 class="text-xs-center">Update Password</h5>
            <br>

            <%= f.input :password, autocomplete: "off", required: false, icon: 'lock' %>
            <%= f.input :password_confirmation, required: false, icon: 'lock' %>

            <br>
            <h5 class="text-xs-center">Save Changes</h5>
            <br>

            <%= f.input :current_password, required: true, icon: 'unlock-alt' %>
          </div>

          <div class="form-actions text-xs-right">
            <%= f.button :button do %>
              <i class="fa fa-check-circle-o left" aria-hidden="true"></i>
              Submit
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
