<div class="card mb-4">
  <div class="card-block">
    <div class="form-header light-blue darken-2">
      <h3><i class="fa fa-cloud"></i> Sign Up</h3>
    </div>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>
      <%= hidden_field_tag :invitation_token, params[:invitation] %>
      <%= f.hidden_field :email, value: params[:email] if params[:email].present? %>

      <div class="form-inputs">
        <%= f.input :first_name, label: 'First Name', icon: 'user', required: true %>
        <%= f.input :last_name, label: 'Last Name', icon: 'user', required: true %>
        <%= f.input :email, icon: 'envelope', required: true, input_html: { value: params[:email] }, disabled: params[:email].present? %>
        <%= f.input :password, icon: 'lock', required: true %>
      </div>

      <div class="form-actions text-xs-center">
        <%= f.button :button do %>
          <i class="fa fa-check-circle-o left" aria-hidden="true"></i>
          Submit
        <% end %>
      </div>
    <% end %>

  </div>

  <div class="modal-footer">
    <div class="options">
      <%= render "devise/shared/links" %>
    </div>
  </div>

</div>
