<div class="row">
  <div class="col-md-5 col-lg-4 mb-3">
    <ul class="nav nav-tabs tabs-1 light-blue darken-2" role="tablist">
      <li class="nav-item">
        <%= link_to '#post-embed', class: 'nav-link active', role: 'tab', data: { toggle: 'tab' } do %>
          <i class="fa fa-globe" aria-hidden="true"></i> Post
        <% end %>
      </li>
    </ul>
    <div class="tab-content card">
      <div class="tab-pane fade in active text-xs-center" id="post-embed" role="tabpanel">
        <div class="fb-post" data-href="https://www.facebook.com/<%= post.network_parent_id %>/posts/<%= post.network_post_id %>/" data-width="auto" data-show-text="true"></div>
      </div>
    </div>
  </div>

  <div class="col-md-7 col-lg-8 mb-3">
    <ul class="nav nav-tabs tabs-1 light-blue darken-2" role="tablist">
      <li class="nav-item">
        <%= link_to '#last-sync', class: 'nav-link active', role: 'tab', data: { toggle: 'tab' } do %>
          <i class="fa fa-clock-o" aria-hidden="true"></i> Last Sync
        <% end %>
      </li>
    </ul>
    <div class="tab-content card">
      <div class="tab-pane fade in active" id="last-sync" role="tabpanel">
        <div class="text-xs-center"><%= post.synced_at.strftime('%A') %></div>
        <div class="text-xs-center"><%= post.synced_at.strftime('%l:%M%p %Z') %></div>
        <div class="text-xs-center"><%= post.synced_at.strftime('%b %-d, %Y') %></div>
        <% if @post.can_be_synced? %>
          <div class="text-xs-right">
            <button id="post-sync-trigger" type="button" class="btn green accent-4" disabled="true">
              <i class="fa fa-refresh left" aria-hidden="true"></i> Sync Now
            </button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<ul class="nav nav-tabs tabs-2 light-blue darken-2" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#post-comments" role="tab"><i class="fa fa-comments-o" aria-hidden="true"></i> Comments</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#post-reactions" role="tab"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Reactions</a>
  </li>
</ul>

<div class="tab-content card">
  <div class="tab-pane fade in active" id="post-comments" role="tabpanel">
    <%= render "comments/datatable", organization: organization, campaign: campaign, post: post %>
  </div>
  <div class="tab-pane fade in" id="post-reactions" role="tabpanel">
    <%= render "reactions/datatable", organization: organization, campaign: campaign, post: post %>
  </div>
</div>

<script type="text/javascript">
  $(document).on('ready', function() {
    window.fbAsyncInit = function() {
      App.authentications.facebook.init();
      App.authentications.facebook.status();
    }
    App.authentications.facebook.loadSDK();
    $('#post-sync-trigger').on('click', function(){
      App.posts.sync();
    });
    console.log('Facebook Authentication ready.');
  });
</script>
