<%= render "shared/datatables_search", table_id: 'groala-users-table' %>
<table id="groala-users-table" class="table table-bordered groala-datatable" cellspacing="0" width="100%">
  <thead class="thead-default">
    <tr>
      <th>User</th>
      <th data-orderable="false">Message</th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <tr id="user-<%= user.id %>">
        <td><%= user.name %></td>
        <td class="groala-no-wrap">
          <%= mail_to user.email, data: { toggle: 'tooltip', placement: 'top' }, title: 'Email' do %>
            <%= content_tag(:i, nil, :class => 'fa fa-commenting fa-lg ', aria: { hidden: true }) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="mt-2">
  <hr>
  <%= link_to new_organization_invitation_path(@organization), class: 'btn btn-md default-color' do %>
    <i class="fa fa-envelope-open left"></i> <b>Invite</b>
  <% end %>
</div>
