<table id="groala-flagged-interactions-table" class="table table-bordered groala-datatable" cellspacing="0" width="100%" data-source="<%= data_source %>">
  <thead class="thead-default">
    <tr>
      <th>Post</th>
      <th>Type</th>
      <th>User</th>
      <th style="min-width: 180px;">Content</th>
      <th>Posted</th>
      <th class="text-xs-center" data-orderable="false">Manage</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
<div class="mt-2">
  <hr>
  <%= link_to @csv_download_url, class: 'btn btn-md secondary-color', data: { toggle: 'tooltip', placement: 'top' }, title: 'Download Flagged Interactions' do %>
    <i class="fa fa-download left"></i> <b>CSV</b>
  <% end %>
  <%= link_to @flag_random_comment_url, class: 'btn btn-md secondary-color groala-flag-random-interaction', data: { toggle: 'tooltip', placement: 'top' }, method: :post, title: 'Flag Random Comment', remote: true do %>
    <i class="fa fa-comments left"></i> <b>Flag</b>
  <% end %>
  <%= link_to @flag_random_reaction_url, class: 'btn btn-md secondary-color groala-flag-random-interaction', data: { toggle: 'tooltip', placement: 'top' }, method: :post, title: 'Flag Random Reaction', remote: true do %>
    <i class="fa fa-thumbs-up left"></i> <b>Flag</b>
  <% end %>
</div>


<script type="text/javascript">
  $(document).on('ready', function() {
    App.dataTables.groala.flagged_interactions('<%= params[:controller] == "posts" ? "hide" : "show" %>');
  });
</script>
