<%= simple_form_for(@twitter_token) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :organization %>
    <%= f.input :encrypted_token %>
    <%= f.input :encrypted_secret %>
    <%= f.input :encrypted_token_iv %>
    <%= f.input :encrypted_secret_iv %>
    <%= f.input :network_user_id %>
    <%= f.input :network_user_name %>
    <%= f.input :network_user_image_url %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
