<p id="notice"><%= notice %></p>

<p>
  <strong>Organization:</strong>
  <%= @twitter_token.organization %>
</p>

<p>
  <strong>Encrypted token:</strong>
  <%= @twitter_token.encrypted_token %>
</p>

<p>
  <strong>Encrypted secret:</strong>
  <%= @twitter_token.encrypted_secret %>
</p>

<p>
  <strong>Encrypted token iv:</strong>
  <%= @twitter_token.encrypted_token_iv %>
</p>

<p>
  <strong>Encrypted secret iv:</strong>
  <%= @twitter_token.encrypted_secret_iv %>
</p>

<p>
  <strong>Network user:</strong>
  <%= @twitter_token.network_user_id %>
</p>

<p>
  <strong>Network user name:</strong>
  <%= @twitter_token.network_user_name %>
</p>

<p>
  <strong>Network user image url:</strong>
  <%= @twitter_token.network_user_image_url %>
</p>

<%= link_to 'Edit', edit_twitter_token_path(@twitter_token) %> |
<%= link_to 'Back', twitter_tokens_path %>
