<ul id="slide-out" class="side-nav fixed light-blue darken-2 custom-scrollbar" style="transform: translateX(-100%);">
  <div>
  <li class="text-xs-center">
    <%= link_to edit_user_registration_path, class: 'user-image waves-effect' do %>
      <%= gravatar_for(current_user) %>
    <% end %>
  </li>

  <li>
    <ul class="collapsible collapsible-accordion">
      <li>
        <% if current_user.organizations.present? %>
          <% current_user.organizations.each do |organization| %>
            <a class="collapsible-header waves-effect arrow-r">
              <i class="fa fa-hand-pointer-o"></i>
              <%= organization.name.truncate(12) %><i class="fa fa-angle-down rotate-icon">
              </i>
            </a>
            <div class="collapsible-body">
              <ul>
                <li>
                  <%= link_to 'Control Center', organization, class: 'waves-effect' %>
                </li>
                <li>
                  <%= link_to 'Accounts', organization_accounts_path(organization), class: 'waves-effect' %>
                </li>
                <li>
                  <%= link_to 'Campaigns', organization_campaigns_path(organization), class: 'waves-effect' %>
                </li>
                <li>
                  <%= link_to 'Users', organization_users_path(organization), class: 'waves-effect' %>
                </li>
              </ul>
            </div>
          <% end %>
        <% else %>
          <%= link_to new_organization_path, class: 'waves-effect' do %>
            <%= content_tag(:i, nil, :class => 'fa fa-hand-pointer-o', aria: { hidden: true }) %> New Organization
          <% end %>
        <% end %>
      </li>
      <li>
        <a class="collapsible-header waves-effect arrow-r">
          <i class="fa fa-eye"></i>
          About<i class="fa fa-angle-down rotate-icon">
          </i>
        </a>
        <div class="collapsible-body">
          <ul>
            <li>
              <a href="#" class="waves-effect">Introduction</a>
            </li>
            <li>
              <a href="#" class="waves-effect">Monthly meetings</a>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <a class="collapsible-header waves-effect arrow-r">
          <i class="fa fa-envelope-o"></i>
          Support
          <i class="fa fa-angle-down rotate-icon"></i>
        </a>
        <div class="collapsible-body">
          <ul>
            <li>
              <a href="#" class="waves-effect">FAQ</a>
            </li>
            <li>
              <a href="#" class="waves-effect">Write a message</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </li>

  <li class="logo-container text-xs-center">
    <%= image_tag 'logo/groala-white-sm.png', class: 'logo' %> groala
  </li>
  </div>
</ul>
