<ul id="slide-out" class="side-nav fixed primary-color custom-scrollbar">
  <li class="text-xs-center">
    <%= link_to edit_user_registration_path, class: 'user-image waves-effect' do %>
      <%= gravatar_for(current_user) %>
    <% end %>
  </li>

  <li class="side-nav-menu-container">
    <ul class="collapsible collapsible-accordion">
      <% if current_user.organizations.present? %>
        <% current_user.organizations.each do |organization| %>
          <li class="<%= organization_sidenav_active_class(organization.id) %>">
            <a class="collapsible-header waves-effect arrow-r <%= organization_sidenav_active_class(organization.id) %>">
              <i class="fa fa-cube"></i>
              <%= organization.name.truncate(15) %>
              <i class="fa fa-angle-down rotate-icon"></i>
            </a>
            <div class="collapsible-body">
              <ul>
                <li>
                  <%= link_to 'Campaigns', organization_campaigns_path(organization), class: "waves-effect #{organization_sidenav_subactive_class(organization.id, 'campaigns')}" %>
                </li>
                <li>
                  <%= link_to 'Users', organization_users_path(organization), class: "waves-effect #{organization_sidenav_subactive_class(organization.id, 'invitations', 'users')}" %>
                </li>
              </ul>
            </div>
          </li>
        <% end %>
      <% else %>
        <li>
          <%= link_to new_organization_path, class: 'waves-effect' do %>
            <%= content_tag(:i, nil, :class => 'fa fa-hand-pointer-o', aria: { hidden: true }) %> New Organization
          <% end %>
        </li>
      <% end %>
      <li class="<%= profile_sidenav_active_class('users/registrations') %>">
        <%= link_to edit_user_registration_path, class: "waves-effect #{profile_sidenav_active_class(['users/registrations'])}" do %>
          <%= content_tag(:i, nil, :class => 'fa fa-user-o', aria: { hidden: true }) %> Profile
        <% end %>
      </li>
      <li>
        <a class="collapsible-header waves-effect arrow-r">
          <i class="fa fa-envelope-o"></i>
          Support
          <i class="fa fa-angle-down rotate-icon"></i>
        </a>
        <div class="collapsible-body">
          <ul>
            <li>
              <a href="#" class="waves-effect">FAQ</a>
            </li>
            <li>
              <a href="#" class="waves-effect">Write a message</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </li>

  <li class="logo-container text-xs-center">
    <i class="fa fa-paper-plane" aria-hidden="true"></i> SocialFlyte
  </li>
  </div>
</ul>
