<%= render "shared/datatables_search", table_id: 'groala-posts-table' %>
<table id="groala-posts-table" class="table table-striped table-bordered groala-datatable" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th class="text-xs-center">
        <i class="fa fa-globe grey-text" aria-hidden="true"></i>
        <span class="hidden-xs-down">Network</span>
      </th>
      <th class="text-xs-center">
        <i class="fa fa-hand-o-up grey-text" aria-hidden="true"></i>
        <span class="hidden-xs-down">Engagement</span>
      </th>
      <th data-orderable="false"></th>
    </tr>
  </thead>
  <tbody>
    <% posts.each do |post| %>
      <tr id="post-<%= post.id %>">
        <td data-order="<%= post.network.slug %>"><i class="fa fa-<%= post.network.slug %>-official fa-lg" aria-hidden="true"></i><%= link_to post.network.name, organization_campaign_post_path(organization, campaign, post), class: 'light-blue-text' %></td>
        <td class="text-xs-center groala-no-wrap"><%= number_with_delimiter(post.engagement_count) %> <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" title="<%= post.engagement_types %>"></i></td>
        <td class="text-xs-center groala-no-wrap">
          <%= link_to organization_campaign_post_path(organization, campaign, post) do %>
            <%= content_tag(:i, nil, :class => 'fa fa-eye fa-lg light-blue-text', aria: { hidden: true }, data: { toggle: 'tooltip', placement: 'top' }, title: 'View') %>
          <% end %>
          <%= link_to organization_campaign_post_path(organization, campaign, post), method: :delete, data: { confirm: 'Are you sure you want to delete this post? All of its data will be deleted as well.' } do %>
            <%= content_tag(:i, nil, :class => 'fa fa-times fa-lg red-text', aria: { hidden: true }, data: { toggle: 'tooltip', placement: 'top' }, title: 'Delete') %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
