<% content_for :page_title do %>
  <h2 class="dashboard-title mb-0">
    <%= @post.name.truncate(64) %>
    <% if current_user.has_valid_facebook_token? && @post.can_be_synced? %>
      <%= button_tag type: :button, id: 'post-sync-trigger', class: 'btn-floating btn-small default-color mr-0' do %>
        <i class="fa fa-refresh" aria-hidden="true" data-toggle="tooltip" title="Sync Post"></i>
      <% end %>
    <% else %>
      <%= button_tag type: :button, id: 'post-sync-trigger', class: 'btn-floating btn-small default-color mr-0', disabled: true do %>
        <i class="fa fa-refresh" aria-hidden="true" data-toggle="tooltip" title="Sync Post"></i>
      <% end %>
    <% end %>
  </h2>
  <h6 class="mb-2">
    <span data-toggle="tooltip" data-placement="right" title="Last Sync">
      <i class="fa fa-clock-o" aria-hidden="true"></i> <%= synced_at_formatted(@post.synced_at) %>
    </span>
  </h6>
<% end %>

<% if @post.sync_count == 0 && @status.queued? %>
  <%= render "posts/first_sync/queued", post: @post %>
<% elsif @post.sync_count == 0 && @status.working? %>
  <%= render "posts/first_sync/working", post: @post %>
<% else %>
  <%= render "posts/#{@network_slug}/show", organization: @organization, campaign: @campaign, post: @post %>
<% end %>

<script type="text/javascript">
  $(document).on('ready', function() {
    $('#post-sync-trigger').on('click', function(){
      App.posts.sync();
    });
  });
</script>
