<p id="notice"><%= notice %></p>

<p>
  <strong>Network:</strong>
  <%= @post.network %>
</p>

<p>
  <strong>Network post:</strong>
  <%= @post.network_post_id %>
</p>

<p>
  <strong>Network parent:</strong>
  <%= @post.network_parent_id %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
