<ul class="nav nav-tabs tabs-2 light-blue darken-2" role="tablist">
  <li class="nav-item">
    <a class="nav-link <%= comments_active_class %>" data-toggle="tab" href="#post-comments" role="tab"><i class="fa fa-comments-o" aria-hidden="true"></i> Comments</a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= reactions_active_class %>" data-toggle="tab" href="#post-reactions" role="tab"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Reactions</a>
  </li>
</ul>

<div class="tab-content card">
  <div class="tab-pane fade in <%= comments_active_class %>" id="post-comments" role="tabpanel">
    <table class="table table-striped">
      <tbody>
        <% @comments.each do |comment| %>
          <tr id="comment-<%= comment.id %>">
            <td><%= comment.network_user_name %></td>
            <td><%= comment.message %></td>
            <td><%= comment.like_count %></td>
            <td><%= comment.posted_at %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @comments, param_name: :comments_page, params: { reactions_page: nil }, theme: 'twitter-bootstrap-4', pagination_class: 'pg-darkgrey' %>
  </div>
  <div class="tab-pane fade in <%= reactions_active_class %>" id="post-reactions" role="tabpanel">
    <table class="table table-striped">
      <tbody>
        <% @reactions.each do |reaction| %>
          <tr id="reaction-<%= reaction.id %>">
            <td><%= reaction.network_user_name %></td>
            <td><%= reaction.category %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @reactions, param_name: :reactions_page, params: { comments_page: nil }, theme: 'twitter-bootstrap-4', pagination_class: 'pg-darkgrey'  %>
  </div>
</div>
