<% content_for :page_title do %>
  <h2 class="dashboard-title mb-1">
    <%= @post.network.name %>
    <%= link_to organization_campaign_path(@organization, @campaign), class: 'btn-floating btn-small mr-0' do %>
      <i class="fa fa-reply" aria-hidden="true" data-toggle="tooltip" title="Back"></i>
    <% end %>
  </h2>
  <h6 class="mb-3">
    <span data-toggle="tooltip" data-placement="right" title="Last Sync">
      <i class="fa fa-clock-o" aria-hidden="true"></i> <%= synced_at_formatted(@post.synced_at) %>
    </span>
  </h6>
<% end %>

<% if @post.sync_count == 0 && @status.queued? %>
  <%= render "posts/first_sync/queued", post: @post %>
<% elsif @post.sync_count == 0 && @status.working? %>
  <%= render "posts/first_sync/working", post: @post %>
<% else %>
  <%= render "posts/#{@network_slug}/show", organization: @organization, campaign: @campaign, post: @post %>
<% end %>
