<%= render "shared/datatables_search", table_id: 'groala-campaigns-table' %>
<table id="groala-campaigns-table" class="table table-striped groala-data-table" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th class="text-xs-center" data-toggle="tooltip" title="Campaign">
        <i class="fa fa-hashtag fa-lg" aria-hidden="true"></i>
      </th>
      <th class="text-xs-center" data-toggle="tooltip" title="Networks">
        <i class="fa fa-globe fa-lg" aria-hidden="true"></i>
      </th>
      <th class="text-xs-center" data-toggle="tooltip" title="Engagement">
        <i class="fa fa-hand-o-up fa-lg" aria-hidden="true"></i>
      </th>
      <th data-orderable="false"></th>
      <th data-orderable="false"></th>
    </tr>
  </thead>
  <tbody>
    <% campaigns.each do |campaign| %>
      <tr id="campaign-<%= campaign.id %>">
        <td><i class="fa fa-hashtag grey-text" aria-hidden="true"></i><%= link_to campaign.name, organization_campaign_path(organization, campaign), class: 'light-blue-text' %></td>
        <td class="text-xs-center" data-search="<%= campaign.networks.join(', ') %>"><%= campaign_networks_icons(campaign) %></td>
        <td class="text-xs-center"><%= number_with_delimiter(campaign.engagement_count) %> <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" title="Interactions"></i></td>
        <td class="text-xs-center groala-no-wrap">
          <%= link_to organization_campaign_path(organization, campaign), class: 'view-campaign light-blue-text', data: { toggle: 'tooltip', placement: 'top' }, title: 'View' do %>
            <%= content_tag(:i, nil, :class => 'fa fa-eye', aria: { hidden: true }) %>
          <% end %>
          <%= link_to edit_organization_campaign_path(organization, campaign), class: 'edit-campaign purple-text', data: { toggle: 'tooltip', placement: 'top' }, title: 'Edit' do %>
            <%= content_tag(:i, nil, :class => 'fa fa-pencil', aria: { hidden: true }) %>
          <% end %>
          <%= link_to organization_campaign_path(organization, campaign), class: 'delete-campaign pink-text', method: :delete, data: { confirm: 'Are you sure?', toggle: 'tooltip', placement: 'top' }, title: 'Delete' do %>
            <%= content_tag(:i, nil, :class => 'fa fa-times', aria: { hidden: true }) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
