<p id="notice"><%= notice %></p>

<div class="card">
  <h3 class="card-header cyan white-text"><i class="fa fa-comments-o" aria-hidden="true"></i> Campaigns</h3>
  <div class="card-block">
    <table class="table table-striped">
      <tbody>
        <% @campaigns.each do |campaign| %>
          <tr id="campaign-<%= campaign.id %>">
            <td><i class="fa fa-commenting-o" aria-hidden="true"></i><%= link_to campaign.name, organization_campaign_path(@organization, campaign), class: 'light-blue-text' %></td>
            <td class="text-xs-right">
              <%= link_to edit_organization_campaign_path(@organization, campaign), class: 'edit-campaign light-blue-text', data: { toggle: 'tooltip', placement: 'top' }, title: 'Edit' do %>
                <%= content_tag(:i, nil, :class => 'fa fa-pencil') %>
              <% end %>
              <%= link_to organization_campaign_path(@organization, campaign), class: 'delete-campaign pink-text', method: :delete, data: { confirm: 'Are you sure?', toggle: 'tooltip', placement: 'top' }, title: 'Delete' do %>
                <%= content_tag(:i, nil, :class => 'fa fa-times') %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to 'New Campaign', new_organization_campaign_path(@organization), class: 'btn light-blue lighten-2 pull-right' %>
  </div>
</div>
