<p id="notice"><%= notice %></p>

<p>
  <strong>Organization:</strong>
  <%= @campaign.organization %>
</p>

<p>
  <strong>Name:</strong>
  <%= @campaign.name %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @campaign.slug %>
</p>

<%= link_to 'Edit', edit_campaign_path(@campaign) %> |
<%= link_to 'Back', campaigns_path %>
