<ul class="nav nav-tabs tabs-2 light-blue darken-2" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#posts-list" role="tab"><i class="fa fa-th-list" aria-hidden="true"></i> Posts</a>
  </li>
  <li class="nav-item">
    <%= link_to new_organization_campaign_post_path(@organization, @campaign), class: 'nav-link' do %>
      <i class="fa fa-plus" aria-hidden="true"></i> Import
    <% end %>
  </li>
</ul>

<div class="tab-content card">
  <div class="tab-pane fade in active" id="posts-list" role="tabpanel">
    <% if @posts.present? %>
      <table class="table table-striped">
        <tbody>
          <% @posts.each do |post| %>
            <tr id="post-<%= post.id %>">
              <td><i class="fa fa-<%= post.network.slug %>-official" aria-hidden="true"></i><%= link_to post.network.name, organization_campaign_post_path(@organization, @campaign, post), class: 'light-blue-text' %></td>
              <td class="text-xs-right">
                <%= link_to organization_campaign_post_path(@organization, @campaign, post), class: 'delete-post pink-text', method: :delete, data: { confirm: 'Are you sure?', toggle: 'tooltip', placement: 'top' }, title: 'Delete' do %>
                  <%= content_tag(:i, nil, :class => 'fa fa-times', aria: { hidden: true }) %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <div class="jumbotron no-shadow">
          <h1 class="h1-responsive"><i class="fa fa-hashtag" aria-hidden="true"></i> <%= @campaign.name %> is ready to go!</h1>
          <p class="lead">Your campaign is fresh out of the oven and ready to import posts from our supported networks.</p>
          <hr class="my-2">
          <p>Import your first post for <b><%= @campaign.name %></b> now!</p>
          <p class="lead text-xs-center">
              <%= link_to new_organization_campaign_post_path(@organization, @campaign), class: 'btn green accent-4' do %>
                <i class="fa fa-cloud-download left" aria-hidden="true"></i> Import Post
              <% end %>
          </p>
      </div>
    <% end %>
  </div>
</div>
