<% content_for :page_title do %>
  <h2 class="dashboard-title">
    <%= @organization.name %>
  </h2>
<% end %>

<div class="row groala-organization-accounts mb-1">
  <%= render 'organizations/accounts/facebook' %>
  <%= render 'organizations/accounts/twitter', organization: @organization %>
  <%= render 'organizations/accounts/twitter/add_new', organization: @organization if @organization.twitter_tokens.present? %>
</div>

<script type="text/javascript">
  $(document).on('ready', function() {
    window.fbAsyncInit = function() {
      App.facebook.init('<%= Rails.application.secrets.facebook_app_id %>');
      <% if current_user.facebook_token.nil? or current_user.facebook_token.expired? %>
        App.facebook.status();
      <% end %>
    }
    App.facebook.loadSDK();
    console.log('Facebook Authentication ready.');
  });
</script>
