<% content_for :page_title do %>
  <h2 class="dashboard-title">
    <%= @organization.name %>
    <%= link_to @organization, class: 'btn-floating btn-small mr-0' do %>
      <i class="fa fa-reply" aria-hidden="true" data-toggle="tooltip" title="Back"></i>
    <% end %>
  </h2>
<% end %>

<div class="row mb-1">
  <%= render 'organizations/accounts/facebook' %>
  <% @organization.twitter_tokens.each do |twitter_account| %>
    <div class="col-md-4 mb-2">
      <div class="card testimonial-card">
        <div class="card-up twitter-blue"></div>
        <div class="avatar text-xs-center">
          <%= image_tag twitter_account.image_url, class: 'rounded-circle img-responsive', alt: twitter_account.screen_name %>
        </div>
        <div class="card-block">
          <h4 class="card-title"><%= twitter_account.screen_name %></h4>
          <hr>
          <p><i class="fa fa-twitter fa-lg"></i> Twitter</p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  $(document).on('ready', function() {
    window.fbAsyncInit = function() {
      App.facebook.init(<%= Rails.application.secrets.facebook_app_id %>);
      <% if current_user.facebook_token.nil? or current_user.facebook_token.expired? %>
        App.facebook.status();
      <% end %>
    }
    App.facebook.loadSDK();
    console.log('Facebook Authentication ready.');
  });
</script>
