<% content_for :page_title do %>
  <h2 class="dashboard-title">
    My Organizations
    <%= link_to new_organization_path, class: 'btn-floating btn-small default-color mr-0' do %>
      <i class="fa fa-bank" aria-hidden="true" data-toggle="tooltip" title="New Organization"></i>
    <% end %>
  </h2>
<% end %>

<div class="row">
  <% @organizations.each do |organization| %>
    <div class="col-sm-6 mb-2">
      <div class="card testimonial-card">
        <div class="card-up default-color"></div>
        <div class="avatar text-xs-center">
          <%= content_tag(:i, nil, class: 'fa fa-cloud fa-4x mt-2', aria: { hidden: true }) %>
        </div>
        <div class="card-block">
          <h4 class="card-title"><%= organization.name %></h4>
          <hr>
          <%= link_to organization, class: 'btn primary-color' do %>
            <i class="fa fa-eye left"></i> View
          <% end %>
          <%= link_to edit_organization_path(organization), class: 'btn secondary-color' do %>
            <i class="fa fa-pencil left"></i> Edit
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
