<% content_for :page_title do %>
  <h2 class="dashboard-title">
    <%= organization_title(@organization) %>
  </h2>
<% end %>

<div class="row">
  <div class="col-md-4 mb-2">
    <div class="card testimonial-card">
      <div class="card-up default-color"></div>
      <div class="avatar text-xs-center">
        <%= content_tag(:i, nil, class: 'fa fa-bullhorn fa-4x mt-2', aria: { hidden: true }) %>
      </div>
      <div class="card-block">
        <h4 class="card-title">Campaigns</h4>
        <hr>
        <p><i class="fa fa-hashtag"></i> <%= @organization.campaigns.count %> total</p>
        <%= link_to organization_campaigns_path(@organization), class: 'btn primary-color-dark' do %>
          <i class="fa fa-eye left"></i> View
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-2">
    <div class="card testimonial-card">
      <div class="card-up secondary-color"></div>
      <div class="avatar text-xs-center">
        <%= content_tag(:i, nil, class: 'fa fa-users fa-4x mt-2', aria: { hidden: true }) %>
      </div>
      <div class="card-block">
        <h4 class="card-title">Users</h4>
        <hr>
        <p><i class="fa fa-hashtag"></i> <%= @organization.users.count %> total</p>
        <%= link_to organization_users_path(@organization), class: 'btn primary-color-dark' do %>
          <i class="fa fa-eye left"></i> View
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-2">
    <div class="card testimonial-card">
      <div class="card-up primary-color"></div>
      <div class="avatar text-xs-center">
        <%= content_tag(:i, nil, class: 'fa fa-superpowers fa-4x mt-2', aria: { hidden: true }) %>
      </div>
      <div class="card-block">
        <h4 class="card-title">Social Accounts</h4>
        <hr>
        <p><i class="fa fa-hashtag"></i> <%= @organization.twitter_tokens.count %> total</p>
        <%= link_to '#', class: 'btn primary-color-dark' do %>
          <i class="fa fa-eye left"></i> View
        <% end %>
      </div>
    </div>
  </div>
</div>
