<h2 class="dashboard-title"><%= @organization.name %></h2>

<ul class="nav nav-tabs tabs-2 light-blue darken-2" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#campaigns-list" role="tab"><i class="fa fa-th-list" aria-hidden="true"></i> Campaigns</a>
  </li>
  <li class="nav-item">
    <%= link_to new_organization_campaign_path(@organization), class: 'nav-link' do %>
      <i class="fa fa-plus" aria-hidden="true"></i> Add
    <% end %>
  </li>
</ul>

<div class="tab-content card">
  <div class="tab-pane fade in active" id="campaigns-list" role="tabpanel">
    <% if @campaigns.present? %>
      <%= render "campaigns/datatable", organization: @organization, campaigns: @campaigns %>
    <% else %>
      <div class="jumbotron no-shadow">
          <h1 class="h1-responsive"><i class="fa fa-paw" aria-hidden="true"></i> Welcome to Groala!</h1>
          <p class="lead">You're ready to tap into the power of our platform and organically grow your brand's presence across today's most popular social networks.</p>
          <hr class="my-2">
          <p>Create your first campaign for <b><%= @organization.name %></b> now!</p>
          <p class="lead text-xs-center">
            <%= link_to new_organization_campaign_path(@organization), class: 'btn green accent-4' do %>
              <i class="fa fa-plus left" aria-hidden="true"></i> Create Campaign
            <% end %>
          </p>
      </div>
    <% end %>
  </div>
</div>
