<% content_for :page_title do %>
  <h2 class="<%= organization_title_class(current_user) %>">
    <%= organization_title(@organization) %>
    <% if current_user.organizations.count > 1 %>
      <%= link_to root_url, class: 'btn-floating btn-small mr-0' do %>
        <i class="fa fa-reply" aria-hidden="true" data-toggle="tooltip"  title="Back"></i>
      <% end %>
    <% end %>
  </h2>
<% end %>

<div class="row">
  <%= link_to 'Campaigns', organization_campaigns_path(@organization) %>
  <%= link_to 'Users', organization_users_path(@organization) %>
</div>
