<% content_for :page_title do %>
  <h2 class="<%= organization_title_class(current_user) %>">
    <%= organization_title(@organization) %> Users
    <%= link_to new_organization_invitation_path(@organization), class: "btn-floating btn-small green accent-4 mr-0 extended-nav-1" do %>
      <i class="fa fa-envelope-open-o" aria-hidden="true" data-toggle="tooltip"  title="Invite New User"></i>
    <% end %>
    <%= link_to @organization, class: 'btn-floating btn-small mr-0' do %>
      <i class="fa fa-reply" aria-hidden="true" data-toggle="tooltip"  title="Back"></i>
    <% end %>
  </h2>
<% end %>

<div class="row">
  <div class="col-lg-12 mb-3">
    <ul class="nav nav-tabs tabs-2 light-blue darken-2" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#users-list" role="tab"><i class="fa fa-users" aria-hidden="true"></i> Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#invitations-list" role="tab"><i class="fa fa-envelope" aria-hidden="true"></i> Invitations</a>
      </li>
    </ul>

    <div class="tab-content card">
      <div class="tab-pane fade in active" id="users-list" role="tabpanel">
        <%= render "users/datatable", organization: @organization, users: @organization.users %>
      </div>
      <div class="tab-pane fade in" id="invitations-list" role="tabpanel">
        <%= render "invitations/datatable", organization: @organization, invitations: @organization.invitations %>
      </div>
    </div>
  </div>
</div>
